/* global styles */
*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

:root{
  --main-font-color: #f2b632;
  --main-white: #fff;
  --main-font-dark-grey: #4d4d4d;
  --main-footer-bg-color: #141414;
  --main-font-family: "Cheddar Jack", cursive;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --main-background-register: #FF7700;
  --main-background-hover: #A30000;
}

section{
  padding: 6rem 0;
}

p{
  line-height: 1.5;
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--main-font-dark-grey);
}

a{
  text-decoration: none;
  color: var(--main-white);
}

/* reusable classes */
.btn {
  display: inline-block;
  transition: all 650ms;
  border-radius: 3px;
  text-transform: uppercase
}

button a{
  color: var(--main-font-dark-grey)
}


/* Menu of the day */
.daymenu{
  text-align: center;
  width: 100%;
  background: #fff;
}

h2.featureHeading{
  padding: 2rem;
  font-size: 1.5rem;
  color: var(--main-font-dark-grey);
}

p.featureDescription{
  font-size: 1.5rem;
  color: var(--main-footer-bg-color);
}

.menuList{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 4rem
}

.menuBox{
  position: relative;
}



.menuBox img{
  width: 100%;
  box-shadow: var(--shadow);
}

.cta{
  font-size: 1.5rem;
  border: 2px solid var(--main-font-color);
  padding: 1rem 1.5rem;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 0.5rem;
}

/* header */
header{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent),
  url(https://images.pexels.com/photos/277253/pexels-photo-277253.jpeg) bottom no-repeat;
  background-size: cover;
}


.main-nav{
  display: -webkit-flex;
  display: flex;
  width: 100%;
  text-align: center;
  overflow: hidden;
  padding: 2rem;
  background:linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0, 0, 0, 0.9));
}

/* header - nav */
.main-logo:first-child{
  margin-right: 20px;
  flex-grow: 1.5;
  color: var(--main-white)
}

.main-nav li{
  align-self: center;
  list-style-type: none;
  margin-left: 8px;
  margin-right: 8px;
  flex-grow: .5;
}

.login{
  border: 1px solid var(--main-font-color);
  padding: 1rem 1.2rem
}

.register{
  background: var(--main-background-register);
  padding: 1rem 1.2rem;
  border: 1px solid var(--main-font-color);
}

.register:hover{
  background: var(--main-font-color);
}

/* header - nav toggle */ 
.menu{
  padding: 2rem 2.5rem;
  position: fixed;
  top: 3rem;
  right: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  border-radius: 3px;
  cursor: pointer;
  display: none
}

.menu .bar,
.menu .bar::before,
.menu .bar::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 4rem;
  background-color: var(--main-white);
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: 650ms;
}

.menu .bar::before {
  top: -2rem;
}

.menu .bar::after {
  top: -2rem;
}

.active .bar {
  background-color: transparent;
}

.active .bar::before {
  transform: rotate(45deg);
}

.active .bar::after {
  transform: rotate(-45deg);
}

.active .bar::before,
.active .bar::after {
  top: 0;
}

/* Header - Main text */
.main-text {
  line-height: 0;
  margin: auto;
  color: var(--main-white);
  user-select: none;
}

.main-text h1 {
  font-family: var(--main-font-family);
  color: var(--main-font-color);
  font-size: 8rem;
  font-weight: 100;
  margin-bottom: 5rem;
}

.main-text h2 {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-right: -5px;
  font-size: 2rem;
  line-height: 1;
  position: relative;
}

.main-text h2::before,
.main-text h2::after {
  content: "";
  width: 5rem;
  height: 3px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  background-color: var(--main-white);
  border-radius: 8px;
}

.main-text h2::before {
  left: -6rem;
}

.main-text h2::after {
  right: -6rem;
}

.main-btn{
  font-size: 1.5rem;
  border: 2px solid var(--main-font-color);
  padding: 2rem 2.5rem;
  letter-spacing: 3px;
  position: relative;
  margin-top: 3rem;
}

/* Info */
.boxes{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent),
  url(https://images.pexels.com/photos/459469/pexels-photo-459469.jpeg) bottom no-repeat;
  color: var(--main-white);
  background-size: cover;
  display: grid;
}

.boxBackdrop{
  margin: auto;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
  width: 80%;
  box-shadow: var(--shadow);
  min-height: 350px
}

.boxbackdropHeading{
  text-align: center;
  font-size: 4rem;
  margin-top: 30px
}

.boxsection{
  text-align: center;
}

.boxsection{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 30px
}

.box{
  text-align: center;
  padding: 1.5rem 2rem;
  line-height: 4.5rem
}

.boxText{
  color: var(--main-white);
  font-size: 1.5rem
}


/* Footer */

footer{
  width: 100%;
  text-align: center;
  padding: 2rem;
  background: var(--main-footer-bg-color);
}


footer p{
  color: var(--main-font-color);
  font-size: 1.2rem;
}

footer .sep{
  color: var(--main-white)
}